$text-color: #5D391E;
$highlight-color-p: #FD59A6;
$highlight-color-b: #7CCCF4;
$highlight-color-y: #FBF640;

$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-ss: 10px;

$header-height: 7vh;
$filter-nav-height: 8vh;
$detail-height: 3vh;
$footer-height: 2vh;

html, body {
  font-family: "PingFang", "Microsoft JhengHei", "Tahoma", "Arial";
}

/* desktops */
@media screen and (min-device-width: 1200px) {
  html {
    font-size: $font-size-l;
  }
}

/* tablets */
@media screen and (min-device-width: 1199.98px) {
  html {
    font-size: $font-size-m;
  }
}

/* phones */
@media screen and (max-device-width: 767.98px) {
  html {
    font-size: $font-size-s;
  }
}

/* small phones */
@media screen and (max-device-width: 325px) {
  html {
    font-size: $font-size-ss;
  }
}

.container {
  display: flex;
  justify-content: center;

  &.row{
      flex-direction: row;
  }
}

.content-a {
  grid-area: image;
  margin-left: auto;
}

.content-b {
  grid-area: info;
  color: $text-color;
  font-size: 1rem;

  .sub-info {
    font-size: 0.8rem;
    color: rgba(110,75,50,0.7);
  }
}

.content-c {
  grid-area: tag;
  display: flex;
  flex-wrap: wrap;
  //max-height: 1rem;
  align-self: flex-end;
  color: rgba(104,194,194,0.8);

  .tag {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-device-width: 500px) {
  .content-c {
    max-height: 2.5rem;
  }
}

.content-d {
  grid-area: score;
  margin-left: auto;
}

.grid-container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;

  &.manga-content {
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: auto;
    grid-template-areas:
    "score image info";
  }
}

@media screen and (min-device-width: 767.98px) {
  .manga-list {
    grid-template-columns: 40% 40%;
    justify-content: center;
  }
}

/* Button */
button:focus {
  outline:0;
  font-size: 1rem;
}

.btn {
  margin: 0.5rem;
  width: 5rem;
  height: 1.8rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  color: $text-color;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: 0.5px solid $text-color;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
}

.btn-p {
  &.active {
    background-color: $highlight-color-p;
    color: white;
  }
}

.btn-b{
  &.active {
    background-color: $highlight-color-b;
  }
}

.btn-y {
  &.active {
    background-color: $highlight-color-y;
  }
}

@media screen and (max-device-width: 500px) {
  .btn-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* List */
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-device-width: 500px) {
  ul {
    width: 80%;
    margin-right: auto;
  }
}

[v-cloak]{
    display: none;
}

/* Text */
.detail {
  margin-right: 10vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: right;
  color: $highlight-color-b;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.manga-title {
  font-size: 1.2rem;
}

/* tablets */
@media screen and (max-device-width: 1199.98px) {
  .detail {
    margin-right: 5vw;
  }
}

@media screen and (max-device-width: 500px) {
  .manga-title {
    font-size: 1.2rem;
  }
}

.link {
  margin-right: 3rem;
  text-decoration: underline;
  cursor: pointer;
}


/* Image */
.manga-img {
  object-fit: cover;
  width: 100%;
  transition:all 2.5s;
}

 .manga-img[lazy=loading] {
}

.manga-img[lazy=loaded] {
  animation: fadein 2.5s;
}

/* Header */
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left:0px;
  height: $header-height;
  right: 0px;
  overflow: hidden;
}

/* phones */
@media screen and (max-device-width: 500px) {
  .header {
    position: fixed;
    background-color: white;
    z-index: 1;
  }
}


/* Main */
.main {
  height:100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.filter-nav {
  position: absolute;
  top: $header-height;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.list {
  position: absolute;
  top: $header-height + $filter-nav-height + $detail-height;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;

  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
}

/* phones */
@media screen and (max-device-width: 500px) {
  .main {
    margin-top: $header-height;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .filter-nav {
    position: inherit;
  }

  .list {
    position: inherit;
    top: $header-height + $filter-nav-height * 2.1 + $detail-height;
    bottom: 0px;
    overflow: unset;
  }
}

/* Footer */
.footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0px;
  left: 0px;
  height: $footer-height;
  width: 100%;
  //background-color: white;
  color: gray;
  font-size: $footer-height * 0.4;
}

@media screen and (max-device-width: 500px) {
  .footer {
    display: none;
    //height: $footer-height * 0.7;
    font-size: 8px;
  }
}

/* Scroll to top button */
#scrollTop {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height:2rem;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  border: 0.5px solid $text-color;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
}

/* Loader */
//from https://loading.io/css/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 9rem;
  height: 10rem;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgba(253, 89, 166, 0.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 1rem;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 2rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 5rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 7.5rem;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2rem, 0);
  }
}

/* fade in */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
